html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    grid-template-rows: auto auto;
}

img {
    width: 100%;
    height: auto;
}

.full-height {
    height: 100%;
}

h1 {
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: 66.6666% auto;
}

.text-part {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.75;
    font-size: 150%;
    background-color: black;
    color: white;
    padding: 5%;
}

@media screen and (max-width: 50em) {
    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 66.6666% auto;
    }

    .text-part {
        font-size: 90%;
    }
}

/* Helferklassen */

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}