html,
body {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    grid-template-rows: auto auto;
}

img {
    width: 100%;
    height: auto;
}

.full-height {
    height: 100%;
}

h1 {
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "image-area text-area";
    grid-template-columns: 66.6666% 1fr;
}

.grid-container-reversed {
    display: grid;
    grid-template-areas:
        "text-area image-area";
    grid-template-columns: 1fr 66.6666%;
}

.text-part {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.75;
    font-size: 150%;
    background-color: black;
    color: white;
    padding: 5%;

    grid-area: text-area;
}

.image-part {
    grid-area: image-part;
}

@media screen and (max-width: 840px) {

    .grid-container-reversed,
    .grid-container {
        grid-template-columns: unset;
        grid-template-areas:
            "image-area"
            "text-area";
        grid-template-rows: auto auto;
    }

    .text-part {
        font-size: 90%;
    }
}

/* Helferklassen */

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}